/*Custom CSS*/
table {
	width: 100%;
	border: none;
}

/* CSS to hide the vegetarian data from table*/
td:nth-child(5) {
	display: none;
}

th:nth-child(5) {
	display: none;
}

td:nth-child(2) {
	text-align: left;
    width: 15em;
    padding-left: 2em;
}

td:nth-child(4) {
	width: 10em;
}

th, td {
	font-family: 'Courgette', cursive;
	text-align: center;
}

img {
	width: 20em;
    margin: 1em;
    height: auto;
    padding: .8em;

    box-shadow: inset 0px .3em .1em rgba(0,0,0,.2);
    background: #fff;
    border-style: ridge;
    border-width: 5px;
}

input[type='checkbox'] {
	cursor: pointer;
	width: 10em;
}

button {
	font-family: 'Courgette', cursive;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    border-radius:10px;
    outline: none;
}

button:hover {
	cursor:pointer;
}

.image-bg {
	background: url(../images/grapes-bg.jpg) no-repeat;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.castle-bg {
	border: none;
    background: transparent;
    box-shadow: none;
    width: 50%;
    margin: 0 auto;
    padding: 0px;
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: 13em;
    left: 18em;
    margin: 0px;
}

.menu-title {
	font-family: 'Parisienne', cursive;
    font-size: 5em;
    margin-bottom: 4em;
    margin-top: .5em;
    font-weight: normal;
    line-height: .9em;
}

.menu-subheading {
	font-weight: normal;
    font-family: 'Parisienne', cursive;
    font-size: 3em;
    margin-top: 0px;
    padding-top: 1em;

}

.options-side-vege {
    background-color: #fff;
    display: inline-block;
    float: right;
    position: fixed;
    bottom: 60%;
    right: 10px;
    padding: 10px;
    width: 10em;
    box-shadow: 0px 0px 10px rgba(55, 55, 55, .8);
    border-radius: 30px;
}


.options-side {
    background-color: #fff;
    display: inline-block;
    float: right;
    position: fixed;
    bottom: 10%;
    right: 10px;
    padding: 10px;
    width: 10em;
    box-shadow: 0px 0px 10px rgba(55, 55, 55, .8);
    border-radius: 30px;
}

.divider {


}

.total {
	font-family: 'Courgette', cursive;
}

.menu {
	margin: 14%;
    margin-top: 7%;
    background: url('../images/lightpaperfibers.png') repeat;
}

.border {
    background-clip: padding-box;
    border: 8px solid rgba(225,225,225,0.5);
}

.border-margin {
  border-image-outset: .5;
  padding: 2em;
  border-radius: 50% 50% / 7em 7em;
}

.total-div {
    height: 40px;
    width: 120px;
    font-size: 1.1em;
    text-align: left;
    font-family: 'Courgette', cursive;
}

.receipt-tags {
	display: inline-block;
	float: left;
}

.address {
    font-size: 31px;
    margin-left: 2em;
}

.receipt {
     font-family: 'Parisienne', cursive;
     text-align: center;
     border-bottom: 1px solid rgba(55, 55, 55, .6);
     width: 5em;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/cat-load.gif') 50% 50% no-repeat rgb(249,249,249);
}

/* Few media queries to make it repsonsive down to an iPad

	No mobile compatibility!
*/
@media screen and (max-device-width: 800px) {

	body { 
		background: url(../images/grapes-bg.jpg) #000 no-repeat center center fixed; 
	}

	#bgvid { display: none; }
}

@media screen and (max-width: 1475px) {

	.menu-title {
		font-size: 3.5em;
		margin-left: 3em;
	}

	.address {
   	 	font-size: 29px;
    	margin-left: 2em;
	}

}

@media screen and (max-width: 1024px) {

	img {
		width: 14em;
	}

	.menu-title {
    	font-size: 2.5em;
        margin-left: 0px;
    	
}

	.menu-subheading {
    	font-weight: normal;
    	font-family: 'Parisienne', cursive;
    	font-size: 2em;
    	margin-top: 0px;
    	padding-top: 1em;
	}

	.address {
    	font-size: 22px;
    	margin-left: 2em;
	}

    .castle-bg {
        border: none;
        background: transparent;
        box-shadow: none;
        width: 50%;
        margin: 0 auto;
        padding: 0px;
        display: inline-block;
        position: absolute;
        z-index: 0;
        top: 7em;
        left: 10em;
        margin: 0px;
    }

    .options-side {   
        width: 8em; 
    }

    .options-side-vege {
        width: 8em;
    }

}

